.Chips {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
}

.Chips-pic {
    width: 80%;
    height: auto;
    margin-top: 10%;
}

.Chips-text {
    position: absolute;
    text-align: center;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 24px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    color: white;
}